version: '3.9'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: meduser
      POSTGRES_PASSWORD: medpass
      POSTGRES_DB: medinsight
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/medinsight
      KC_DB_USERNAME: meduser
      KC_DB_PASSWORD: medpass
    depends_on:
      - postgres
    ports:
      - "8080:8080"

  backend:
    build:
      context: ./backend
    image: medinsight-backend:latest
    container_name: backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/medinsight
      SPRING_DATASOURCE_USERNAME: meduser
      SPRING_DATASOURCE_PASSWORD: medpass
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - keycloak

  frontend:
    build:
      context: ./front/pdsfront
    image: medinsight-frontend:latest
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  nginx:
    image: nginx:stable
    container_name: nginx
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
      - keycloak

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./infra/grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  postgres_data:
  grafana_data:
